:root {
    --vermelho: #ff1414;
    --preta: #181515;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*elementos base*/

body {
    background: var(--preta);
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    margin-left: 5px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
}

header nav a {
    text-decoration: none;
    color: #Aaa;
    margin-right: 10px;
}

header nav a:hover {
    color: #fff;
}


/*filme principal*/

.filme-principal {
    font-size: 16x;
    background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50)100%), url('../img/DEDGE.png');
    height: 500px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao {
    margin-top: 10px;
    margin-bottom: 40px;
}

.filme-principal .titulo {
    margin-top: 15%;
    font-size: 80px;
    font-family: fantasy;
}

.botao {
    background-color: rgba(192, 163, 163, 0.164);
    border: none;
    color: white;
    padding: 15px 30px;
    margin-right: 10px;
    font-size: 12px;
    cursor: pointer;
    transition: .10s ease all;
    font-weight: bolder;
}

.botao:hover {
    background-color: rgba(255, 255, 255, .8);
    color: black;
}

.botao i {
    margin-right: 8px;
}

.filme-principal .container {
    width: 60%;
    margin-left: 30px;
}

.filme-principal p {
    text-align: justify;
}

.box-filme {
    height: 100%;
    width: 100%;
    display: block;
}

.carrosel-filmes{
    margin-top: 5px;
    
}
.rounded {
    border-radius: 50%;
}

.carrosel-filmes h3 {
    
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}